*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #c3c3c3;
}

.side-list{
	position: fixed;
	top: 50%;
	left: -50%;
	transform: translate(-50%,-50%);
	width: 100%;
	max-width: 350px;
	height: 84vh;
	background-color: #fff;
	overflow-y: scroll;
	z-index: 999;
	transition: 0.5s;
}
.side-list::-webkit-scrollbar{
	width: 0;
}

.box{
	background-color: #fff;
	height: 50px;
	position: relative;
	border-bottom: 1px solid #c3c3c3;
}
.box p.logo{
	position: absolute;
	top: 0;
	left: 20px;
	font-size: 30px;
	font-family: cursive;
}
.box p span{
	padding: 5px 10px;
	background-color: #ccc;
	cursor: pointer;
	border-radius: 50%;
}
.box p{
	line-height: 50px;
	font-size: 21px;
	letter-spacing: 1px;
	padding-right: 10px;
	text-align: right;
	text-transform: capitalize;
	background-color: #fff;
	color: #2f2828;
	font-family: sans-serif;
}
.box img{
	height: 50px;
/*	background-color: red;*/
	position: absolute;
	top: 0;
	left: 5px;
}


.main-div{
	width: 95%;
	height: 84vh;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 350px; !important
	margin: 0 auto;
	background-color: #fff;}

/*home-div start here*/

.home-div{
	height: 100%;
	width: 100%;
	background-color: red;
/*	display: none;*/
}

.home-div .home-div-inner{
	background-color: #fff;
	text-align: center;
}

.home-div img{
	width: 100%;
}

.home-div button{
	min-width: 150px;
	font-size: 17px;
	font-family: sans-serif;
	text-transform: uppercase;
	border: 1px solid #c3c3c3;
	border-radius: 7px;
	color: #2f2828;
	padding: 5px 10px;
	background-color: #fff;
	margin-top: 5px;
	cursor: pointer;

}

/*home-div end here*/


/*first-div start here*/


.first-div{
	height: 100%;
	width: 100%;	
	text-align: center;
/*	background-color: red;*/
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 700;
	display: none;
}
.first-div-inner{
/*	background-color: pink;*/
	
}


.first-div img{
	width: 80%;
}
.first-div p:nth-child(1){
	color: #0da88d;
	font-size: 25px;
	margin-top: 20px;
	letter-spacing: 2px;
}
.first-div p:nth-child(2){
	margin-top: 10px;
	color: #333;
	font-size: 15px;
}
.first-div .timer{
	font-size: 50px;
	margin-top: 40px;
	position: relative;
/*	background-color: red;*/
}
.first-div .timer-count{
/*	background-color: yellow;*/
	padding: 10px;
	border-radius: 50%;
	border: 5px solid #0da88d;
	color: #333;
}
.first-div .skip{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	font-size: 26px;
	color: #333;
/*	background-color: red;*/
	padding: 3px 10px;
}


/*first-div end here*/


/*active-div start here*/

.active-div{
	height: 100%;
	width: 100%;	
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 700;
/*	background-color: red;*/
	display: none;
}

.active-div img{
	width: 80%;
}

.active-div p:nth-child(1){
	color: #333;
	font-size: 17px;
	margin-top: 20px;
}
.active-div p:nth-child(2){
	color: #333;
	font-size: 34px;
	margin-top: 10px;
}
.active-div .pause-btn button{
	border: none;
	background-color: #cccccc85;
	padding:3px 10px;
	width: 80%;
	font-size: 20px;
	text-transform:uppercase;
	height: 35px;
	letter-spacing: 1px;
	border-radius: 10px;
	margin-top: 60px;
	cursor: pointer;
}

.active-div .back-next{
/*	background-color: yellow;*/
	width: 80%;
	margin: 0 auto;
	bottom: 0;
	margin-top: 20px;
}

.active-div .back-next button{
	border: none;
	background-color: #cccccc52;
	width: 100px;
	height: 25px;
	font-size: 20px;
	border-radius: 7px;
	cursor: pointer;
}

.active-div .back-next button:nth-child(1){
	float: left;
}
.active-div .back-next button:nth-child(2){
	float: right;
}

/*active-div end here*/



/*rest-div start here*/

.rest-div{
	background-color: #1a4f71;
	width: 100%;
	height: 84vh;
	display: none;
}

.rest-div .upper-div{
/*	width: 100%;*/
	height: 42vh;
	background-color: #1a4f71;
	position: relative;
	text-align: center;
}
.rest-div .upper-div .upper-div-inner{
	position: absolute;
	width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
/*	background-color: pink;*/
}
.upper-div p{
	font-size: 30px;
	color: #fff;
	font-family: serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.upper-div p:nth-child(2){
	letter-spacing: 3px;
	font-size: 40px;
	margin: 10px 0;
	font-weight: 700;
}

.upper-div .plus-timer{
/*	background-color: red;*/
}
.upper-div .plus-timer button{
	width: 80px;
	font-size: 17px;
	letter-spacing: 1px;
	margin: 0 7px;
	border-radius: 10px;
	border: none;
	outline: none;
	padding: 4px 0;
	cursor: pointer;
	background-color: #446b88;
	color: #fff;
}
.upper-div .plus-timer button:nth-child(2){
	background-color: #fff;
	color: #1a4f71;
	font-weight: 700;
}

.rest-div .lower-div{
	width: 100%;
	height: 42vh;
	background-color: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.rest-div .lower-div-inner{
	padding: 10px 20px;
	padding-bottom: 0px;
/*	background-color: red;*/
}

.rest-div .lower-div p{
	color: #ccc;
	font-family: sans-serif;
	text-transform: uppercase;
}
.rest-div .lower-div p span{
	font-weight: 700;
	color: #0da88d;
}
.rest-div .lower-div .ex-name{
	width: 100%;
/*	background-color: yellow;*/
	font-weight: 700;
}
.rest-div .lower-div .ex-name p:nth-child(1){
	float: left;
	font-size: 15px;
	color: #333;
}
.rest-div .lower-div .ex-name p:nth-child(2){
	float: right;
	color: #0da88d;
}
.rest-div .lower-div .ex-img{
	text-align: center;
	margin-top: 30px;
	clear: both;
}
.rest-div .lower-div .ex-img img{
	height: 203px;
}
/*rest-div end here*/
